<div class="bg-container" id="index-recipes">

  <div class="block block-800 bg-white p-4 p-md-5 rounded text-center">
    <header class="p-4 text-center">
      <h2><i class="fas fa-clipboard-list mr-1"></i> Mon menu batch-cooking</h2>
      <p class="intro mb-3 mb-md-4">Voici les recettes que tu as sélectionné pour réaliser ton menu batch-cooking. Tu peux aussi générer une liste pour faciliter tes courses.</p>
      <% if @menu_recipes.empty? %>
        <h4 class="mb-4">Tu n'as aucunes recettes dans ton menu.</h4>
        <%= link_to "Voir toutes les recettes", recipes_path(@recipes), class: 'btn btn-indigo1 btn-lg' %>
      <% else %>
        <% if @shopping_list != nil %>
          <%= link_to user_menu_shopping_list_path(current_user, @menu, @shopping_list), class: "btn btn-primary mb-3 mb-md-4" do %> 
            <i class="fas fa-shopping-cart mr-1"></i> Voir ma liste de courses
          <% end %>
        <% else %>
          <%= link_to user_menu_shopping_lists_path(menu_id: params[:id]), class: "btn btn-primary mb-3 mb-md-4", method: :post do %> 
           <i class="fas fa-shopping-cart mr-1"></i> Générer ma liste de courses
          <% end %>
        <% end %>

      <% end %>
      <%= form_for @menu_recipe do |f| %>
        <%= f.autocomplete_field :recipe_id, autocomplete_recipe_name_menu_recipes_path%>
        <%= f.hidden_field :menu_id, :value => params[:id] %>
        <%= f.submit "Ajouter à mon menu" %>
      <%end%>

      <%= form_for user_menu_path(@menu), method: :put do |f| %>
        <%= f.number_field :number_of_people, value: @menu.number_of_people %>
        <%= f.submit "Modifier le nombre de personnes" %>
      <% end %>
    </header>

    <hr class="mb-4 mt-0">

      <% @menu_recipes.each do |menu_recipe| %>
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <%= link_to recipe_path(menu_recipe.recipe), class: "img-fluid rounded" do %>
              <img class="img-fluid rounded" src="https://cdn-image.foodandwine.com/sites/default/files/1483039291/chickpeas-and-kale-in-spicy-pomodoro-sauce-XL-RECIPE0217.jpg" alt="Card image cap">
            <% end %>
          </div>
        
          <div class="col-sm-8">
            <div class="recipe-info py-3">  
              <%= link_to recipe_path(menu_recipe.recipe), class: "title h4 mr-2" do %>
                <%= menu_recipe.recipe.name %>
              <% end %>
              <span class="h5"> <i class="fas fa-seedling text-vegan" data-toggle="tooltip" data-placement="top" title="Végétalien"></i> <i class="fas fa-drumstick-bite text-omnivore " data-toggle="tooltip" data-placement="top" title="Omnivore"></i> <i class="fas fa-cheese text-vegetarian" data-toggle="tooltip" data-placement="top" title="Végétarien"></i> </span>
              <div class="the-icons my-2 text-grey1 h6 font-weight-normal">
                <span class="mr-4">
                  <i class="far fa-clock mr-1"></i> <%=menu_recipe.recipe.cooking_time%> mn
                </span>
                <span class="mr-4">
                  <i class="fas fa-tag mr-1"></i> <%menu_recipe.recipe.price_indicator.times do %>€
                <%end%>
                </span>
                <span class="mr-4"> 
                  <i class="far fa-heart mr-1"></i> <%= menu_recipe.recipe.likes.count %>
                </span>
                <span class="mr-4">
                  <i class="far fa-comment mr-1"></i> <%= menu_recipe.recipe.comments.count %>
                </span>
              </div>
              <p class="description"><%= menu_recipe.recipe.description %></p>
              <div class="d-flex justify-content-end">
              <%= link_to 'Supprimer de mon menu', menu_recipe_path(menu_recipe_id: menu_recipe.id), remote: true, method: :delete %>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4">
      <% end %>

  </div>
</div>
