<div class="bg-container" id="index-recipes">
 <%= link_to "Recettes", admin_recipes_path, class: 'd-block w-100 btn btn-indigo1 btn-lg' %> <%= link_to "Utilisateurs", admin_users_path, class: 'd-block w-100 btn btn-indigo1 btn-lg' %>
  <div class="block block-1000 bg-indigo1 p-4 p-md-5 rounded-top text-center">
    <h2 class="text-white">Les recettes</h2>
    <h4 class='text-white'>Il y a <%= @recipes.count %> recettes disponibles sur le site.
    </h4>
  </div>
 
  <div class="block block-1000 bg-white rounded-bottom"> 
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Recette</th>
            <th scope="col">Publié ?</th>
            <th scope="col">Edition</th>
            <th scope="col">Suppression</th>
          </tr>
        </thead>
        <tbody>
         <% @recipes.each do |recipe|%>
          <tr>
            <th scope="row"><%= recipe.id %></th>
            <td><%= recipe.name %></td>
            <td><%= link_to "#{recipe.is_displayed}", admin_recipe_path(recipe), method: :put %></td>
            <td><%= link_to "Editer", edit_admin_recipe_path(recipe) %></td>
            <td><%= link_to "Supprimer", admin_recipe_path(recipe), method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
  