<div class="bg-container" id="sign_up">
  <div class="block block-500 bg-white text-center p-5 rounded">

  <h2 class="mb-2">Créer un compte</h2>

  <p class="mb-4">Rejoignez notre communauté de Batch Cookerz pour sauvegarder votre liste de recettes favorites et partagez les vôtres !</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field mb-4">
      <%= f.label 'Mot de passe' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="field mb-5">
      <%= f.label 'Confirmez votre mot de passe' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "S'enregistrer", class:"btn btn-lg btn-primary mb-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  </div>
</div>