<div class="block block-900 bg-white rounded text-center mb-4 mb-lg-5">

  <header class="recipe-title mb-3 mb-md-4">
    <h1 class="h2 mb-0"> <%= @recipe.name%> </h1>
    <p>Recette proposée par <%= @recipe.user.first_name %></p>
  </header>


  <div class="row mb-4">
    <div class="col-12 col-md-8 pr-md-0">
      <%if @recipe.picture.attached? %>
        <%= image_tag @recipe.picture, class:"w-100 rounded" %>
      <%else%>
        <%= image_tag("the-creative-exchange-1309304-unsplash", class:"w-100") %>
      <%end%>
    </div>

    <div class="col-12 col-md-4 pl-md-0">
      <div class="bg-dark p-4 h-100 rounded">
        <div class="the-icons text-white text-left h4 font-weight-normal">
          <ul class="list-unstyled">
            <li class="mb-2 h2 text-white">
            <% if user_signed_in?%>
              <% pre_like = @recipe.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to recipe_like_path(@recipe, pre_like), method: :delete do %>
                  <i class="fas fa-heart mr-1"></i>
                <% end %>
              <% else %>
                <%= link_to recipe_likes_path(@recipe), method: :post do %>
                  <i class="far fa-heart mr-1"></i>
                <% end %>
              <% end %>
              <%= @recipe.likes.count %> <%= (@recipe.likes.count) == 1 ? '' : ''%>
              <% else %>
                <i class="far fa-heart mr-1"></i> <%= @recipe.likes.count %>
            <% end %>
            </li>
            <li class="mb-2">
              <span class="h6 text-indigo2">Temps de préparation</span><br>
              <span class="h5 text-indigo4"><i class="far fa-clock mr-1"></i></span> <%=@recipe.preparation_time%> mn
            </li>
            <li class="mb-2">
              <span class="h6 text-indigo2">Temps de cuisson</span><br>
              <span class="h5 text-indigo4"><i class="far fa-clock mr-1"></i></span> <%=@recipe.cooking_time%> mn
            </li>
            <li class="mb-4">
              <span class="h6 text-indigo2">Tranche de prix</span><br>
                <span class="h5 text-indigo4"><i class="fas fa-tag mr-1"></i></span> <%@recipe.price_indicator.times do %>€
                <%end%>
            </li>
            <li class="mb-4">
              <%if user_signed_in? %>
                <%= link_to menu_recipes_path(menu_id: Menu.where(user_id: current_user.id).last.id, recipe_id: @recipe.id), class:"recipe-link btn btn-primary py-2 w-100 text-uppercase", method: "post" do %>
                  <small>Ajouter à mon</small> <br> <span class="h5 text-white">menu</span>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <article class="recipe-content text-left mb-5">

    <% if user_signed_in?%>  
      <div class="p-3 p-md-4 bg-grey5 rounded border border-indigo5 mb-4">
      <h5 class="text-secondary">Modifier la photo de recette</h5>
        <% if is_current_user_the_creator? %> 
          <%= form_tag recipe_pictures_path(@recipe), multipart: true do %>
            <%= file_field_tag :picture %>
            <%= submit_tag "mettre à jour" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-12">
        <div class="ingredients p-4 p-md-5 bg-grey5 rounded mb-4">
          <h3 class="h4">Ingrédients</h3>
          <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
          </ul>
        </div> 
      </div>

      <div class="col-12">
        <div class="preparation p-4 p-md-5 border border-grey3 rounded">
          <h3 class="h4">Préparation</h3>
          <%= simple_format(@recipe.description) %> <br>
        </div>
      </div>
    </div>
    
  </article>

  <%= link_to "Voir les autres recettes", recipes_path(@recipes), class: 'btn btn-outline-primary btn-lg' %>
  <%= link_to "Editer la recette", edit_recipe_path(@recipe), class: 'btn btn-outline-primary btn-lg' %>

</div>