  <div class="block block-800 bg-white rounded">

    <% @comments.each do |comment|%>
      <div class="container-comment">
        <div class="avatar-comments">
          <%if comment.user.avatar.attached? %>
            <%= image_tag comment.user.avatar, alt: 'avatar' %>
          <% else %>
            <%= image_tag comment.user.default_image, alt: 'avatar' %>
          <% end %>
        </div>
        <div>
          <p><%= comment.description %></p>
          <p><%= comment.user.nickname %></p>
        </div>
      </div>
    <% end %>

    <% if user_signed_in?%>
      <div class="container-comment">
        <%= form_with model: @comment, url:recipe_comments_path(@recipe.id) do |form| %>
        <%= form.text_field :description%>
        <%= form.submit class: "btn btn-secondary"%>
        <% end%>
      </div>
    <% end %>
  </div>