<h2> Les recettes </h2>

<%@recipes.each do |recipe|%>

  <p>
  Nom : <%=recipe.name%> <br />
  Description : <%=recipe.description%> <br />
  Temps de préparation : <%=recipe.preparation_time%> <br />
  Temps de cuisson : <%=recipe.cooking_time%> <br />
  Coût : <%=recipe.cost%> € <br /> 
  </p>

<%end%>