<<<<<<< HEAD
<div class="container p-5">
  <h2>Les recettes</h2>
  <div class="row">
    <div class="col-sm-9">
      <%@recipes.each do |recipe|%>
        <div class="row mb-4">
          <div class="col-8 col-sm-5">
            <img class="img-fluid mh-100" src="https://cdn-image.foodandwine.com/sites/default/files/1483039291/chickpeas-and-kale-in-spicy-pomodoro-sauce-XL-RECIPE0217.jpg" alt="Card image cap">          
          </div>
          <div class="col-4 col-sm-7">
            <div class="card-body">
              <h5 class="card-title"><%=recipe.name%></h5>
              <p class="card-text"><%=recipe.description%></p>
              <a href="#" ><button class="btn btn-primary">Selectionner</button></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3 bg-light rounded border">lol</div>
  </div>
</div>
=======
<h2> Les recettes </h2>

<%@recipes.each do |recipe|%>

  <p>
  Nom : <%=recipe.name%> <br />
  Description : <%=recipe.description%> <br />
  Temps de préparation : <%=recipe.preparation_time%> <br />
  Temps de cuisson : <%=recipe.cooking_time%> <br />
  Coût : <%=recipe.cost%> € <br /> 
  <%=link_to "Voir la recette", recipe_path(recipe) %>
  </p>

<%end%>
>>>>>>> 760693944fa886e58c490ad6ebc2df601fc6dad0
