<div class="bg-container" id="contact">
  <div class="block block-800 p-4 p-md-5 bg-white rounded">
    <header class="block block-800 p-4 p-md-5 text-center">
      <h2>Proposer une nouvelle recette</h2>
      <p class="intro">Vous avez une idée de recette que vous souhaiteriez proposer à la communauté des Batch-Cookerz ? Vous êtes au bon endroit :)</p>
    </header>
    <%= form_tag url_for(action: 'create'), method: "post", multipart: true, class: "needs-validation" do %>
      <div class="form-group mb-4">
        <%= label_tag 'Nom de la recette' %>
        <%= text_field_tag :name %>
      </div>
      <div class="form-row mb-4">
        <div class="col-12 col-md-6">
          <%= label_tag 'Catégorie'%> <small class="text-grey1">(Régime alimentaire)</small>
          <%= text_field_tag :recipe_category %>
        </div>
        <div class="col-12 col-md-6">
          <%= label_tag 'Prix' %> <small class="text-grey1">(Sélectionner une tranche de prix)</small>
          <%= number_field_tag :price_indicator %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'Description' %> <small class="text-grey1">(2000 caractères maximum)</small>
        <%= text_area_tag :description %> <%= simple_format(@recette.description) %>
      </div>
      <div class="form-row mb-4">
        <div class="col-12 col-md-6">
          <%= label_tag 'Temps de préparation' %> <small class="text-grey1">(en minutes)</small>
          <%= number_field_tag :preparation_time %>
        </div>
        <div class="col-12 col-md-6">
          <%= label_tag 'Temps de cuisson' %> <small class="text-grey1">(en minutes)</small>
          <%= number_field_tag :cooking_time %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'Image' %>
        <%= file_field_tag :picture %>
      </div>
      <div class="form-group">
        <%= label_tag 'Ingrédients' %><br>
        <% for ingredient in Ingredient.all %>
            <%= check_box_tag :ingredient, {multiple: true}, ingredient.id %> <%= ingredient.name %><br/>
        <% end %>
      </div>
      <div class="form-group text-center">
        <%= submit_tag "Proposer la recette" %>
      </div>
    <% end %>

  </div>
</div>

