<div class="container">
<h2> Voici la recette : <%= @recipe.name%> </h2>

<p>
	<%= @recipe.cost%><br>
	<%= @recipe.description%><br>
	<%= @recipe.preparation_time%><br>
	<%= @recipe.cooking_time%> 
</p>

<div>
	<% @comments.each do |comment|%>
  <div class="container-comment">
  <div class="avatar-comments">
   <%=image_tag @user.thumbnail, alt: 'avatar'%>
	<p-comment><%=comment.description%>
	<%=comment.user.nickname%></p-comment>
   </div>
   </div>
	<%end%>
</p-comment>

<% if user_signed_in?%>
  <div class="container-comment">
  <p-comment>
    <%= form_with model: @comment, url:recipe_comments_path(@recipe.id) do |form| %>
    <%= form.text_field :description%>
    <p-comment-submit>
    <%= form.submit class: "btn btn-secondary"%>
    </p-comment-submit>
    <% end%>
  </p-comment>
  </div>

  <p>
    <% pre_like = @recipe.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', recipe_like_path(@recipe, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', recipe_likes_path(@recipe), method: :post %>
    <% end %>
  </p>
<% end %>

<p><%= @recipe.likes.count %> <%= (@recipe.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<p> <%= link_to "Aller sur les autres recettes", recipes_path(@recipes) %>
