<h2> Voici la recette : <%= @recipe.name%> </h2>
<p>
	<%= @recipe.cost%><br>
	<%= @recipe.description%><br>
	<%= @recipe.preparation_time%><br>
	<%= @recipe.cooking_time%> 
</p>

<p>
<% @comments.each do |comment|%>
<%= comment.description %>
<%= comment.user.nickname %>
<% end%>
</p>