<h2> Veuillez remplir le formulaire suivant afin de modifier les informations de votre profil. </h2> <br>


<%= form_with model: @user, method: 'PATCH' do |form| %>

  Prénom :<%= form.text_field :first_name%>
  Nom de famille :<%= form.text_field :last_name%>
  Pseudo :<%= form.text_field :nickname%>
  <%= form.submit %>
<% end %><br>

<%= link_to "Modifier ses informations personnelles importantes (email et mot de passe)", edit_user_registration_path(@user.id)%>