<div class="container">
<h2> Voici les informations de mon profil </h2>
<p>
  Prenom : <%= @user.first_name %><br />
  Nom de famille :  <%= @user.last_name %><br />
  Pseudo :  <%= @user.nickname%><br />
  Email : <%= @user.email%><br /> 
</p>

<%= render "layouts/history_menus" %>
<%= render "avatar"%>
<%= render "layouts/favorite_recipes"%>
<%= render "avatar_edit"%>
<%= link_to "Modifier ses informations de profil", edit_user_path(@user.id)%> <br>
<%= link_to "Modifier ses informations personnelles importantes (email et mot de passe)", edit_user_registration_path(@user)%>


</div>