<!-- JUMBOTRON -->
<section class="block d-flex flex-column justify-content-center align-items-center" id="home">
    <header class="text-center">
      <h2 class="text-white mb-4 display-2 font-weight-normal">Préparez vos repas une seule fois, <br>et assemblez la semaine !</h2>
      <h3 class="h5 text-white font-weight-normal">Composez votre batch-cooking en indiquant des ingrédients</h3>
    </header>
    <div id="search-bar">
    <%= form_tag({:controller => "recipes", :action => "index"}, :method => "get", class:'input-group input-group-lg') do %>
      <%= text_field_tag :ingredient, "", class: 'form-control rounded-left' %>
      <div class="input-group-append">
        <%= submit_tag 'Chercher les recettes', name: nil, class:'btn btn-primary' %>
      </div>
    <% end %>
    </div>
</section>

<section class="bg-dark">
  <div class="block block-800">
    <header class="text-center text-white mb-4">
      <h3 class="text-primary">Bienvenue dans la communauté <br>des Batch Cookerz ! </h3>
    </header>
    <article>
      <p class="h4 text-white text-center font-weight-normal">Le batch cooking, comment ? pour qui ? pourquoi ? <br> Ici se retrouve tous ceux qui aiment cuisiner et manger de bons petits plats. Grace à notre site, tu pourras cuisiner tes repas pour toute la semaine en quelques heures le week-end.</p>
    </article>
  </div>
</section>

<section class="bg-white">
  <div class="block block-1000">
    <header class="text-center mb-4"> 
      <h3 class="text-secondary">Composez votre batch-cooking <br> <span class="h4 font-weight-normal">selon votre régime alimentaire</span></h3>
    </header>
    <div class="row">

      <div class="col-sm-4">
        <div class="d-inline-block">
          <%= image_tag("the-creative-exchange-1309304-unsplash", class:"w-100 rounded-top" )%>
          <h3 class="h4 font-weight-normal test text-white rounded-bottom text-center py-2 px-4 bg-vegan">Végétalien</h3>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="d-inline-block">
          <%= image_tag("brooke-lark-229136-unsplash", class:"w-100 rounded-top" )%>
          <h3 class="h4 font-weight-normal test text-white rounded-bottom text-center py-2 px-4 bg-vegetarian">Végétarien</h3>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="d-inline-block">
          <%= image_tag("mariana-medvedeva-561531-unsplash", class:"w-100 rounded-top" )%>
          <h3 class="h4 font-weight-normal test text-white rounded-bottom text-center py-2 px-4 bg-omnivore">Omnivore</h3>
        </div>
      </div>

    </div>
    <!-- <footer class="text-center p-3">
      <%= link_to "Voir nos dernières recettes", recipes_path, class:"h5" %>
    </footer> -->
  </div>
</section>

<section class="bg-indigo5 ">
  <div class="block container">
    <header class="text-center mb-5">
      <h3>En manque d'inspiration ?</h3>
      <h3 class="h4 font-weight-normal">Nos recettes du moment</h2>
    </header>
    <footer class="text-center p-5">
      <%= link_to "Voir toutes les recettes", recipes_path, class:"btn btn-outline-primary btn-lg" %>
    </footer>
  </div>
</section>

<!-- <section>
<%= image_tag("test", width: '100%')%>
</section> -->