<!-- JUMBOTRON -->
<section class="block d-flex flex-column justify-content-center align-items-center" id="home">
    <header class="text-center">
      <h2 class="text-white mb-4 display-2 font-weight-normal">Préparez vos repas une seule fois, <br>et assemblez la semaine !</h2>
      <h3 class="h5 text-white font-weight-normal mb-3">Composez votre batch-cooking en indiquant des ingrédients</h3>
      <div id="search-bar">
        <%= form_tag({:controller => "recipes", :action => "index"}, :method => "get", class:'input-group input-group-lg d-flex justify-content-center') do %>
          <%= autocomplete_field_tag :ingredient, "", autocomplete_ingredient_name_recipes_path, 'data-delimiter' => ', ', :multiple => true, :size => 75, 'data-auto-focus' => true, class: 'form-control w-100 rounded' %>
          <div class="text-center mt-4 w-100 block block-500 p-0">
          <div class="row search-buttons">
            <div class="col-12 col-sm-6 pr-md-2 pb-3 pb-sm-0">
              <%= submit_tag 'Recherche', name: nil, class:'w-100 btn btn-primary btn-lg rounded' %>
            </div>
            <div class="col-12 col-sm-6 pl-md-2">
              <%= link_to "Toutes les recettes", recipes_path(@recipes), class: 'd-block w-100 btn btn-indigo1 btn-lg' %>
            </div>
          </div>
        <% end %>
      </div>
    </header>
</section>

<section class="bg-dark">
  <div class="block block-900">
    <header class="text-center text-white mb-4">
      <h3 class="text-primary">Bienvenue dans la communauté <br>des Batch Cookerz ! </h3>
    </header>
    <article>
      <p class="h4 text-white text-center font-weight-normal">Le batch cooking, comment ? pour qui ? pourquoi ? <br> Ici se retrouve tous ceux qui aiment cuisiner et manger de bons petits plats. Grace à notre site, vous pourrez cuisiner vos repas pour toute la semaine en quelques heures le week-end.</p>
    </article>
  </div>
</section>

<section class="bg-white">
  <div class="block block-1000">
    <header class="text-center mb-4"> 
      <h3 class="text-secondary">Composez votre batch-cooking <br> <span class="h4 font-weight-normal">selon votre régime alimentaire</span></h3>
    </header>
    <div class="row">

      <div class="col-sm-4 mb-3 md-md-0">
        <div class="d-inline-block">
          <%= link_to recipe_category_path(id: 3), method: :get do %>
            <%= image_tag("the-creative-exchange-1309304-unsplash", class:"w-100 rounded-top" )%>
          <% end %>
          <h3 class=""><%= link_to "Végétalien", recipe_category_path(id: 3), method: :get, class:"h4 font-weight-normal text-white rounded-bottom text-center py-2 px-4 bg-vegan d-block" %></h3>
        </div>
      </div>

      <div class="col-sm-4 mb-3 md-md-0">
        <div class="d-inline-block">
          <%= link_to recipe_category_path(id: 2), method: :get do %>
            <%= image_tag("brooke-lark-229136-unsplash", class:"w-100 rounded-top" )%>
          <% end %>
          <h3 class=""><%= link_to "Végétarien", recipe_category_path(id: 2), method: :get, class:"h4 font-weight-normal text-white rounded-bottom text-center py-2 px-4 bg-vegetarian d-block" %></h3>
        </div>
      </div>

      <div class="col-sm-4 mb-3 md-md-0">
        <div class="d-inline-block">
        <%= link_to recipe_category_path(id: 1), method: :get, class: 'lol' do %>
          <%= image_tag("mariana-medvedeva-561531-unsplash", class:"w-100 rounded-top" )%>
        <% end %>
          <h3 class=""><%= link_to "Omnivore", recipe_category_path(id: 1), method: :get, class:"h4 font-weight-normal test text-white rounded-bottom text-center py-2 px-4 bg-omnivore d-block" %></h3>
        </div>
      </div>

    </div>
    <!-- <footer class="text-center p-3">
      <%= link_to "Voir nos dernières recettes", recipes_path, class:"h5" %>
    </footer> -->
  </div>
</section>

<section class="bg-indigo5 ">
  <div class="block container">
    <header class="text-center mb-5">
      <h3>En manque d'inspiration ?</h3>
      <h3 class="h4 font-weight-normal">Nos recettes du moment</h2>
    </header>
    <footer class="text-center p-5">
      <%= link_to "Voir toutes les recettes", recipes_path, class:"btn btn-outline-primary btn-lg" %>
    </footer>
  </div>
</section>

<section class="bg-indigo5 ">
  <div class="block container">
    <header class="text-center mb-5">
      <h3>Decouvrez les ingredients du moment...</h3>
      <h3 class="h4 font-weight-normal">
        <%@ingredients_rand.each do |ingredient|%>
     <div class=ingredient-cloud> <%=ingredient.name%>
     </div>
      <%end%> </h2>
    </header>
    <footer class="text-center p-5">
    </footer>
  </div>
</section>

<!-- <section>
<%= image_tag("test", width: '100%')%>
</section> -->