<div class="bg-container" id="index-recipes">

  <%= render 'admin/header' %>

  <div class="block block-1000 bg-white rounded-bottom p-3 p-md-5">
    <h4 class="h3 text-center mb-3 mb-md-4">Les utilisateurs</h4>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Surnom</th>
            <th scope="col">Editer les infos générales</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
         <% @users.each do |user|%>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.nickname %></td>
            <td><%= link_to "Editer le profil", edit_admin_user_path(user) %></td>
            <td><%= link_to "Supprimer le profil", admin_user_path(user), method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
  