  <footer class="p-5 text-white bg-dark" id="footer">
    <div class="container">
      <div class="row">
        <div id="brand" class="col-12 col-md-4 mb-4">
          <%= link_to root_path, class: "navbar-brand d-inline-block logo-footer mb-3" do %>
            <%= image_tag "batchcookerz-logo-white" %>
          <% end %>
          <p>Préparez tous vos repas le week-end, réassemblez la semaine !</p>
        </div>
        <div id="sitemap" class="col-12 col-md-4 mb-4">
          <p class="h5">Plan du site</p>
          <ul class="list-unstyled">
            <li class="nav-item">
              <%= link_to "Accueil", root_path, class: 'nav-link d-inline-block' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Les recettes', recipes_path, class: 'nav-link d-inline-block' %>
            </li>
            <li class="nav-item">
              <%= link_to "L'équipe", team_path, class: 'nav-link d-inline-block' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Le concept', concept_path, class: 'nav-link d-inline-block' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Contactez-nous', contact_path, class: 'nav-link d-inline-block' %>
            </li>
          </ul>
        </div>
        <div class="social-links col-12 col-md-4 mb-4">
          <p class="h5">Rejoignez-nous <br> sur les réseaux sociaux</p>
           <div class="social-icons d-flex justify-content-center justify-content-md-end">
            <%= link_to "https://fr-fr.facebook.com/l214.animaux", class:"h3" do %>
            <i class="fab fa-facebook"></i>
            <%end%>
             <%= link_to "https://twitter.com/EmmanuelMacron", class:"h3" do %>
            <i class="fab fa-twitter"></i>
            <%end%>
            <%= link_to "https://www.instagram.com/pumpkintheraccoon/", class:"h3" do %>
            <i class="fab fa-instagram"></i>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="bg-indigo-dark2 copyright p-3 p-md-4 text-center text-indigo3">
    Site web réalisé à <%= link_to "The Hacking Project", "http://thehackingproject.herokuapp.com", class:"text-indigo4" %> avec <i class="fas fa-heart ml-1 mr-1"></i> par : 

    <%= link_to "Raphael De Gregorio", "https://github.com/degregor69", class:"text-indigo4" %> •
    <%= link_to "Antonin Nhek", "https://github.com/anhek", class:"text-indigo4" %> •
    <%= link_to "Mallaury Bajas", "https://github.com/Mallauy", class:"text-indigo4" %> •
    <%= link_to "Laurane Petit", "https://github.com/Laurane01", class:"text-indigo4" %>
  </div>  