<header>

  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white p-4">
    <%= link_to root_path, class: "navbar-brand h5 m-0 text-secondary" do %>
      <i class="fas fa-utensils mr-1"></i>
      Batch Cookerz
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-right">
        <%if user_signed_in? %>
          <% if current_user.is_admin == true %>
            <li class="nav-item">
              <%= link_to admin_recipes_path, class: 'nav-link' do %>
                <i class="fas fa-tools mr-1"></i> Admin
              <% end %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to new_recipe_path, class: 'nav-link' do %>
            <i class="fas fa-plus-circle"></i>
            Proposer une nouvelle recette
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_menu_path(current_user, id: Menu.where(user_id: current_user.id).last.id), class: 'nav-link' do %>
            <i class="fas fa-clipboard-list mr-1"></i>
            Mon menu
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to user_path(current_user), class: "nav-link" do %>
                <i class="fas fa-user-circle"></i> Mon profil
              <% end %>
            <li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                Me déconnecter
              <% end %>
            </li>
          <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="fas fa-user-plus mr-1"></i>
              Créer un compte
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fas fa-sign-in-alt mr-1"></i>
              Se connecter
              <% end %>
            </li>
          <%end%>
      </ul>
    </div>
  </nav>

</header>