<div class="mb-5">

  <h4><i class="far fa-bookmark mr-1"></i> Ma liste de menus </h4>
  <div class="table-responsive">
    <table class="table">
      <% i = 1 %>
      <tbody>
        <%@menus.each do |menu|%>
          <tr>
            <th scope="row"><%= i %></th>
            <td class="font-weight-bold" colspan="2"> Mon menu n°<%= i %></td>
            <td><%= link_to "Voir le menu", user_menu_path(current_user, menu) %></td>
            <% if menu.shopping_list != nil %>
              <td><%= link_to "Voir la liste de courses ", user_menu_shopping_list_path(current_user, menu, menu.shopping_list.id)%>
              <td><%= link_to user_menu_path(current_user, menu), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer le menu ?' }, class: "text-danger h6" do %> <i class="far fa-trash-alt"></i> <% end %></td>
            <%else%>
              <td></td>
              <td></td>
            <%end%>

            <% i += 1 %>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>